body[data-theme="light"] {
  --bg-color: #F7F9FB;
  --text-color: #2b2929;
  --button-bg: #007bff;
  --button-text: #ffffff;
  --card-bg: #f8f9fa;
  --card-text: #343a40;
  --modal-bg: #ffffff;
  --modal-text: #000000;
  --modal-button-bg: #007bff;
  --modal-button-text: #ffffff;
}

body[data-theme="dark"] {
  --bg-color: #282c34;
  --text-color: #ffffff;
  --button-bg: #343a40;
  --button-text: #ffffff;
  --card-bg: #2c2c2c;
  --card-text: #ffffff;
  --modal-bg: #343a40;
  --modal-text: #ffffff;
  --modal-button-bg: #007bff;
  --modal-button-text: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--button-bg);
  color: var(--button-text);
}

.btn-primary:hover {
  background-color: var(--button-text);
  color: var(--button-bg);
}

.card {
  background-color: var(--card-bg);
  color: var(--card-text);
}

.modal-content {
  background-color: var(--modal-bg);
  color: var(--modal-text);
}

.modal-footer .btn {
  background-color: var(--modal-button-bg);
  color: var(--modal-button-text);
}

.modal-footer .btn:hover {
  background-color: var(--modal-button-text);
  color: var(--modal-button-bg);
}

.image-container {
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-fluid {
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.container {
  padding: 20px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h5, p, h4, h3 {
  color: var(--text-color);
}
